html {
  margin-left: 7.5%;
  margin-right: 7.5%;
  background-color: #3C3C3C;
}

/* Font Styles */

h1 {
  color: #FFFEF9;
  font-size: 40px;
  font-family: Figtree;
  font-weight: 900;
  line-height: 98.9%;
  letter-spacing: -1px;
}

.highlight {
  color: #FFCE07;

}

/* Navigation */


.nav-container {
  background-color: bisque;
}

nav {
  width: 100%;
  /*background-color: blue;*/
}


.inline-block {
  display: inline-block;
  padding-left: 5%;
  padding-bottom: 1%;
  color: var(--ffce-07, #FFCE07);
  font-size: 12px;
  font-family: Figtree;
  font-weight: 700;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.nav-item {
  
}

.logo {
  width: 100%;
  max-width: 300px;
}

.sml-caption {

}

.navigation{
  width: 100%;
  height: 100px;
  /*background: aqua;*/
  margin: auto;
  padding: 10px;
}

.nav-logo {
  width: 20%;
  height: auto;
  /*background: red;*/
  float: left;
}

.nav-links {
  position: relative;
  color: aliceblue;
  /*background-color: blueviolet;*/
  
}

.nav-links li {
  float: right;
}

/* Hero Section */

.hero-box1 {
  float: left;
  grid-area: section1;
  /*background-color: red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0%;
}

.strapline {
 /*background-color: aqua;*/
 padding-right: 10%;
}

.hero-section {
 display: grid;
 grid-template-areas: "section1 section2";
}

.hero-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.hero-box2 {
  grid-area: section2;
  /*background-color: purple;*/
  width: 100%;
  justify-content: center;
  align-items: center;
}


/* Footer */

.footer-section {
  padding-top: 5%;
  display: grid;
  grid-template-areas: "section1 section2";
}

.footer-logo {
  grid-area: section2;
  /*background-color: purple;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.footer-button {
  
  grid-area: section2;
  /*background-color: purple;*/
  height: 20%;
}

.get-intouch {
  float: right;
  width: 150px;
  height: 30px;
  background-color: #FFCE07;
  border: 0px;
  font-size: 12px;
  font-family: Figtree;
  font-weight: 700;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}


/* home case study section */

